
body {
  width: 600px;
  margin: 0 auto;
}

.photos {
  display: flex;
  justify-content: center;
}

.photo {
  position: absolute;
  width: 550px;
  height: 400px;
  object-fit: cover;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s;
}

.showed {
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
}

.button {
  width: 120px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
  overflow: hidden;
}

.button img {
  width: 100%;
  opacity: 0.1;
}

.button img:hover {
  transform: scale(1.1);
  opacity: 0.3;
}

.button img:active {
  transform: translateY(2px);
}

.prev {
  margin-right: 20px;
}
